/* Custom properties */
:root {
  /* colors */
  --clr-dark: #333;
  --clr-light: #fff;

  /* font */
  --fs-regular: 1.2rem;
  --fs-large: 2.5rem;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utilities */
.fs-large { font-size: var(--fs-large); }
.fw-bold { font-weight: var(--fw-bold); }
.bg-light { background-color: var(--clr-dark); }

/* General styling */
body {
  display: grid;
  text-align: center;
  place-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--fs-regular);
  font-weight: var(--fs-regular);
}

.container {
  margin-inline: auto;
  width: min(90%, 40em);
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-block: 1rem;
}

.scores {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-block: 1rem;
}

.roll, .die {
  cursor: pointer;
  border: 0;
  background-color: var(--clr-light);
}

.roll {
  margin-top: 2rem;
  width: 20%;
}

@media (min-width: 40em) {
  .roll{
    width: 10%;
  }
}
